.container.blog-container {
	margin-top: 1px;
	margin-bottom: 10px;
}


.item img {
	width: 100%;
	height: auto;
}
/* .carousel-caption {
	font-size: 3.6rem;
	font-family:'Basileia';
	font-weight: 400;
} */

.carousel-pic {

	width: auto;
	height: 360px;
}

#main-context {
	margin-top: 20px;
}

#assist {
	height: 10px;
	width: 10px;
	
}

#main-context {
	width: 100%;
}

#blog-left {
	width: 80%;
	height: auto;
	
}

#blog-right {
	width: 18%;
	height: 1200px;
}


.profile.profile-name {
	text-decoration:none;
	color: #000;

}


.panel-body.catalog-profile {
	padding-top: 4px;
	padding-bottom: 0px;
}

.text-main:hover { 
	text-decoration:none;
}

.panel-body.catalog-body {
	padding-top: 6px;
	padding-bottom: 3px;
}
.catalog-body a {
	text-decoration:none;
	font-size: 1.3rem;
	font-family:'Basileia';
	font-weight: 550;
}

.footer{
	
}