.container.blog-container {
	margin-top: 1px;
	margin-bottom: 10px;
}

.carousel-caption {
	font-size: 3.6rem;
	font-family:'Basileia';
	font-weight: 400;
}

.carousel-pic {

	width: auto;
	height: 100%;
}

#assist {
	height: 10px;
	width: 10px;
	
}

#main-context {
	width: 100%;
}

#blog-left {
	width: 70%;
	height: auto;
	
}

#blog-right {
	width: 27%;
	height: 1200px;
	background-color: blue;
}


.footer{
	
}