.text-center.msg-title1 {
	font-size:4.5rem;
	font-family:'Stencil Army WW I';
	font-weight:400
}
.text-right.msg-title2 {
	font-size: 1.5rem;
	font-family:'Basileia';
	font-weight: 400;
}
.msg-textarea {
	margin-top: 15px;
	margin-bottom: 15px;
}

p.emotion { 
	width: 42px; height: 20px; padding-left: 20px; cursor: pointer 
}
p.emotion:hover { 
	background-position: 2px -28px 
}

#content {
	resize: none;
}

.hr1 {
	size: 10px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.media-object {
	width: 90px;
	height: 90px;
}